<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter Name">
            <input class="form-input" ngModel name="password" type="text" placeholder="Enter Password">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <button class="form-button">SignUp</button>
            <a class="toggle" (click)="openLogin()">Already Have account? Click to login</a>
        </form>
    </div>

    <!-- Login Area -->
    <div *ngIf="showLogin" class="signup">
        <h1>Seller Login</h1>
        <p class="error"> {{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <input class="form-input" ngModel name="password" type="text" placeholder="Enter Password">
            <button class="form-button">Login</button>
            <a class="toggle" (click)="openSignUp()">Not Have an account? Click to SignUp</a>
        </form>
    </div>
</div>