<!-- <div class="add-product">
    <h1>Add New Product</h1>
    <form #addProduct="ngForm" class="common-form">
    <input class="form-input" clas ngModel name="email" type="text" placeholder="Enter Product Name"/>
    </form>
</div> -->
<div class="product-form-container">
    <h2>Update Product</h2>
    <!-- <p class="p_message">{{addProductMessage}}</p> -->
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="product-form">
      <label for="name">Product Name</label>
      <input class="form-input" ngModel name="name" id="name" type="text" placeholder="Enter Product Name" />
  
      <label for="price">Product Price</label>
      <input class="form-input" ngModel name="price" id="price" type="number" placeholder="Enter Product Price" />
  
      <label for="category">Product Category</label>
      <input class="form-input" ngModel name="category" id="category" type="text" placeholder="Enter Product Category" />
  
      <label for="color">Product Color</label>
      <input class="form-input" ngModel name="color" id="color" type="text" placeholder="Enter Product Color" />
  
      <label for="description">Product Description</label>
      <textarea class="form-input" ngModel name="description" id="description" rows="4" placeholder="Enter Product Description"></textarea>
  
      <label for="url">Product Image URL</label>
      <input class="form-input" ngModel name="url" id="url" type="url" placeholder="Enter Product URL" />
  
      <button type="submit" class="submit-button">Update</button>
    </form>
  </div>
  